#check{
    display: none;
}
  
.checkbtn{
    display: none;
}

#check:checked ~ ul{
    left: 0;
}

@media (max-width:821px) {
    #nav-ul{
        display: block;
        top: 60px;
        background-color: rgb(39, 109, 213);
        position: fixed;
        left: -100%;
        text-align: center;
        width: 100%;
        height: 100%;
        transition: all 0.4s ease;
        color: red;
    }

    .nav-li{
        margin: 60px 0;
    }

    #check:checked ~ ul{
        left: 0;
    }
    .checkbtn{
        display: block;
    }
    #check:checked ~ .checkbtn i:before{
        content: "\f00d";
    }

    /* .container{
        display: none;
    } */
    .partition{
        width: 100%;
    }
    
}

@media (max-width:1073px) {
    .cards{
        display:block;
        width: 80%;
        margin: auto;
    }
    .opening-hrs {
        width: 100%;
        border-radius: 7px;
        background-color: rgb(248, 247, 247);
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
    .medico{
        display: block;
        width: 40%;
        margin: auto;
    }
    .medical-service-care {
        display: flex;
        justify-content: space-between;
        width: 100%;
        /* box-shadow: 1px 3px 3px 3px rgb(236, 235, 235); */
        border: 1px solid black;
        padding: 10px;
        margin: 10px;
      }
      .our-gallery, .gallery, .gallery-img{
        display: none;
      }

      .meet-doctors{
        display: block;
        width: 50%;
        margin: auto;
      }
      .doctor1{
        width: 100%;
        background-color: azure;
      }

}
