*{
  margin: 0;
  padding: 0;
}

/* navigation bar css */


#navigation-bar{
  background-color: rgb(39, 109, 213);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  height: 50px;
}

#nav-ul{
  display: flex;

}
.nav-li{
  list-style: none;
  padding: 0 1em;
}

.nav-li a{
  text-decoration: none;
  color: white;
  font-size: 1em;
  padding: 16px 5px;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: verdana;
  
}

.nav-li a:hover, .wtsp:hover{
  background-color: white;
  color: rgb(39, 109, 213);
}
 
.checkbtn, #check{
  display: none;
}

.wtsp{
  color: white;
  font-size: 2em;
  padding: 7px 9px;
}

#check:checked ~ ul{
  left: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.login-button {
  background-color: rgb(39, 109, 213);
  border: none;
  border-radius: 4px;
  height: 40px;
}

.login-hyperlink{
  text-decoration: none;
  font-size: 22px;
  padding: 10px 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.login-button:hover{
  background-color: rgb(52, 52, 198);
}

/* container class css */

.call-opening-hrs{
  display: flex;
  align-items: center;
  font-family: sans-serif;
  text-align: center;
  background-color: rgb(206, 207, 208);
  padding: 0 12px 0 0;
  box-shadow: 2px 2px 6px rgb(154, 152, 152);
}

.call-text a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.icon{
  color: white;
  background-color: rgb(39, 109, 213);
  outline: 1px solid rgb(39, 109, 213);
  font-size: 2em;
  padding: 7px;
  border-radius: 2px;
  margin-right: 7px;
}

.login{
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  padding: 12px 15px;
}

.nav-btn{
  display: none;
}

/* cards */

.cards{
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

.card1{
  font-family: verdana;
  font-size: 0.6em;
  background-color: rgb(215, 215, 215);
  width: 30%;
  border-radius: 7px;
  box-shadow: 5px 7px 5px rgb(156, 156, 156);
}
.card1 h1{
  text-transform: uppercase;
  padding:20px 0 20px 15px
}
.h-span{
  color: rgb(39, 109, 213);
}
.h-timing{
  display: flex;
  font-family: verdana;
  font-size: 15px;
  justify-content: space-between;
  width: 70%;
  margin: auto;
}

.card1-txt{
  background-color: rgb(39, 109, 213);
  padding-left: 2em;
  color: white;
}
.card1-txt p{
  font-size: 15px;
  padding-top: 10px;
}
.card1-txt button{
  background-color: white;
  border: none;
  height: 25px;
  margin: 10px 0;
  border-radius: 17px;
  margin-top: 20px;
}
.c1-span{
  color: rgb(17, 11, 41);
}
.card1-anchor{
  text-decoration: none;
  padding: 7px;
  color: rgb(39, 109, 213);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

/* medical service css  */

.m-service{
  margin: 5em 0;
}
.m-service h1{
  text-transform: uppercase;
  font-family: verdana;
  font-size: 25px;
  text-align: center;
  margin-bottom: 1em;
}
.ms-span{
  color: rgb(39, 109, 213);
}
.m-service p{
  width: 50%;
  margin: auto;
  text-align: center;
  line-height: 2em;
}
.ms-card{
  display: flex;
  width: 93%;
  margin: 1em auto;
}

.ms-card1{
  display: flex;
  align-items: center;
  width: 30%;
  border: 1px solid black;
  box-shadow: 7px 7px 7px rgb(122, 120, 120);
  height: 150px;
  margin: 0 1em;
}
.ms-icon{
  background-color: rgb(39, 109, 213);
  color: white;
  padding: 14px;
  border-radius: 50%;
  font-size: 3em;
  margin-right: 1em;
  margin-left: 5px;
}
.msc-nested{
  padding-right: 1em;
}
.msc-nested h2{
  text-transform: capitalize;
  font-family: verdana;
  font-size: 1em;
  /* margin-bottom: 1em; */
  
}
.msc-nested p{
  /* margin-bottom: 1em; */
  padding: 1em 0
  ;
}
.msc-nested a{
  text-decoration: none;
  color: rgb(39, 109, 213);
  font-family: verdana;
  font-size: 13px;
}

/* we serve better css part  */

.we-serve{
  display: flex;
  background-color: rgb(39, 109, 213);
  padding: 2em 4em;
  align-items: center;
}
.we-serve button{
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  height: 20px;
  border-radius: 27px;
  padding: 13px;
  display: flex;
  align-items: center;
  font-family: verdana;
  font-weight: bold;
  margin-left: 15em;
  border: none;
}
.ws-part1{
  width: 66%;
}
.ws-part1 h1{
  text-transform: capitalize;
  font-style: italic;
  font-family: verdana;
  color: white;
  font-size: 27px;
}
.ws-part1 p{
  line-height: 1.5em;
  margin-top: 1em;
  color: white;
}

/* we are specialized in part css  */

.ws-card{
display: flex;
width: 90%;
justify-content: space-around;
margin: 4em auto;
}

.wsi-card1{
width: 30%;
background-color: rgb(230, 229, 229);
box-shadow: 5px 5px 5px rgb(64, 60, 60);
}
.wsc1-p1{
display: flex;
}

.wsi-icon{
font-size: 35px;
background-color: rgb(39, 109, 213);
color: white;
height: 30px;
padding: 20px;
/* margin-top: 0; */
}

.wsc1-p1-nested{
margin-left: 1em;
padding-bottom: 1em;
}
.wsc1-p1-nested h1{
text-transform: capitalize;
font-family: verdana;
font-size: 17px;
}

.wsc1-p1-nested p{
line-height: 1.5em;
margin: 0.5em 0;
}
.wsc1-p1-nested a{
text-decoration: none;
color: rgb(39, 109, 213);
}


/* images and gallery  */
.images{
  width: 99%;
  margin: auto;
  margin-bottom: 4em;
}

.images img{
  width: 300px;
  height: 270px;
}